- name: Zabbix5.0のリポジトリをインストール
  yum:
    name: "https://repo.zabbix.com/zabbix/5.0/rhel/7/x86_64/zabbix-release-5.0-1.el7.noarch.rpm"
    state: present

- name: パッケージのインストール1
  yum:
    name: http://mirror.centos.org/altarch/7/extras/aarch64/Packages/centos-release-scl-rh-2-3.el7.centos.noarch.rpm
    state: present

- name: パッケージのインストール2
  yum:
    name: http://mirror.centos.org/centos/7/extras/x86_64/Packages/centos-release-scl-2-3.el7.centos.noarch.rpm
    state: present

- name: Zabbixのインストール
  yum:
    name: "{{ item }}"
    state: present
  with_items:
    - zabbix-server-mysql
    - zabbix-agent
    - centos-release-scl

- name: リポジトリの有効化
  replace:
    path: /etc/yum.repos.d/zabbix.repo
    before: zabbix-debuginfo
    regexp: enabled=0
    replace: enabled=1

- name: フロントエンドパッケージのインストール
  yum:
    name: "{{ item }}"
    state: present
  with_items:
    - zabbix-web-mysql-scl
    - zabbix-apache-conf-scl

- name: 初期スキーマとデータのインポート
  shell: "zcat /usr/share/doc/zabbix-server-mysql*/create.sql.gz | mysql -u{{ zabbix_user }} -p{{zabbix_password}} -h{{ zabbix_host }} {{ zabbix_db}}"
  ignore_errors: yes

- name: DB連携
  lineinfile:
    path: /etc/zabbix/zabbix_server.conf
    insertafter: EOF
    line: "{{ item }}"
  with_items:
    - "DBPassword={{ zabbix_password }}"
    - "DBUser={{ zabbix_user }}"
    - "DBName={{ zabbix_db }}"
    - "DBHost={{ zabbix_host }}"

- name: タイムゾーン設定
  lineinfile:
    path: /etc/opt/rh/rh-php72/php-fpm.d/zabbix.conf
    line: 'php_value[date.timezone] = Asia/Tokyo'
    insertafter: EOF

- name: 再起動・自動起動設定
  systemd:
    name: "{{ item }}"
    state: restarted
    daemon_reload: yes
    enabled: yes
  with_items:
    - zabbix-agent.service
    - zabbix-server.service
    - rh-php72-php-fpm.service
